.ToolRow {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 5px 10px;

  &.OddRow {
    background-color: #eeeeee;
  }

  &.EvenRow {
    background-color: #dddddd;
  }

  .ToolIconColumn {
    flex: 1;
    height: 32px;

    .ToolIcon {
      height: 100%;
      width: auto;
    }
  }
  .ToolDetailColumn {
    flex: 2;
    font-size: 16px;
  }
}
