.OptionsContainer {
  border: 1px gray solid;
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;

  .OptionsHeader {
    color: #005;
    font-size: 24px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
  }
}
